@media screen and (max-width: 600px) {
    header {
        padding: 0;
    }
    header .right-header {
        padding-right: 2rem !important;
    }
    .theme-btn {
        width: 50px;
        height: 50px;
    }
    .header-content {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
    .right-header {
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name {
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
    .left-header {
        .h-shape {
            display: none;
        }
    }
    .header-content .left-header .image {
        margin: 0 auto;
        width: 100%;
    }
    .controls {
        top: auto;
        bottom: 0;
        flex-direction: row;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        background-color: var(--color-grey-5);
        .control {
            margin: 1rem 0.3rem;
        }
    }
    .about-container {
        grid-template-columns: repeat(1, 1fr);
        .right-about {
            grid-template-columns: repeat(1, 1fr);
            padding-top: 2.5rem;
        }
        .left-about {
            padding-right: 0;
            p {
                padding-left: 0;
            }
        }
    }
    .my-courses {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }
    .projects {
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
        margin-top: 1rem;
    }

    .contact-content-con {
        flex-direction: column;
        .right-contact {
            margin-left: 0;
            margin-top: 2.5rem;
        }
    }
    .contact-content-con .right-contact .i-c-2 {
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child {
        margin-left: 0;
        margin-top: 1.5rem;
    }
    .main-title {
        h2 {
            font-size: 2.3rem;
            span {
                font-size: 2.5rem;
            }
            .bg-text {
                font-size: 2.5rem;
            }
        }
    }
    .section {
        padding: 2rem 2.5rem;
    }
}
@media screen and (max-width:1340px){
    .section{
        padding: 7rem 11rem;
    }

    .contact-content-con{
        flex-direction: column;
        .right-contact{
            margin-left: 0;
            margin-top: 2.5rem;
        }
        
    }
    .contact-content-con .right-contact .i-c-2{
        flex-direction: column;
    }
    .contact-content-con .right-contact .i-c-2 :last-child{
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .contact-content-con .right-contact{
        margin-bottom: 6rem;
    }

    .main-title{
        h2{
            .bg-text{
                font-size: 5.5rem;
            }
        }
    }
    
}
@media screen and (max-width:1070px){
    .about-container{
        grid-template-columns: repeat(1, 1fr);
        .right-about{
            padding-top: 2.5rem;
        }
    }
    .main-title{
        h2{
            font-size: 4rem;
            span{
                font-size: 4rem;
            }
            .bg-text{
                font-size: 4.5rem;
            }
        }
    }
}
@media screen and (max-width:970px){
    .section{
        padding: 7rem 6rem;
    }
    .about-container .left-about{
        padding-right: 0rem;
    }
    .header-content{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 6rem;
    }

    .left-header{
        .h-shape{
            display: none;
        }
        .image{
            width: 90% !important;
            margin: 0 auto !important;
            
        }
    }
    .right-header{
        grid-row: 1;
        padding-right: 0rem !important;
        width: 90%;
        margin: 0 auto;
        .name{
            font-size: 2.5rem !important;
            text-align: center;
            padding-top: 3rem;
        }
    }
}
@media screen and (max-width:700px){
    .section{
        padding: 7rem 3rem;
    }
    .about-container .right-about{
        grid-template-columns: repeat(1, 1fr);
    }
    .my-courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .main-title{
        h2{
            font-size: 3rem;
            span{
                font-size: 3rem;
            }
            .bg-text{
                font-size: 4rem;
            }
        }
    }
}
